@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.woff2);
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto-Thin.woff2);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.woff2);
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.woff2);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.woff2);
}
@font-face {
    font-family: "RobotoMono-Regular";
    src: url(../fonts/RobotoMono-Regular.woff2);
}
@font-face {
    font-family: "AveriaSerifLibre-Bold";
    src: url(../fonts/AveriaSerifLibre-Bold.woff2);
}
@font-face {
    font-family: "AveriaSerifLibre-Regular";
    src: url(../fonts/AveriaSerifLibre-Regular.woff2);
}

/* icons */

.github {
    background-image: url("../images/icons/icon-github.svg");
    background-repeat: no-repeat;
}
.unsplash {
    background-image: url("../images/icons/icon-unplash.svg");
    background-repeat: no-repeat;
}
.email {
    background-image: url("../images/icons/icon-email.svg");
    background-repeat: no-repeat;
}
.x {
    background-image: url("../images/icons/icon-x.svg");
    background-repeat: no-repeat;
}
.instagram {
    background-image: url("../images/icons/icon-instagram.svg");
    background-repeat: no-repeat;
}
.linkedin {
    background-image: url("../images/icons/icon-linkedin.svg");
    background-repeat: no-repeat;
}
.moon {
    background-image: url("../images/icons/icon-moon.svg");
    background-repeat: no-repeat;
}
.sun {
    background-image: url("../images/icons/icon-sun.svg");
    background-repeat: no-repeat;
}
.spotify {
    background-image: url("../images/icons/icon-spotify.svg");
    background-repeat: no-repeat;
}
.twitch {
    background-image: url("../images/icons/icon-twitch.svg");
    background-repeat: no-repeat;
}

/* base */

h1 {
    font-family: "AveriaSerifLibre-Bold";
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-family: "AveriaSerifLibre-Bold";
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-family: "AveriaSerifLibre-Bold";
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-family: "Roboto-Regular";
    font-size: 1.2rem;
}

ul {
    font-family: "Roboto-Regular";
    font-size: 1.2rem;
}

p a:hover {
    text-decoration: underline;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:focus {
    background-color: initial;
}

.row {
    margin-bottom: 0;
}

/* helper classes */

.section {
    margin: 15px auto 15px auto;
}

.banner-image {
    height: 300px;
}

.image-404 {
    height: 150px;
}

/* nav */

nav, #mobile-nav {
    font-family: "AveriaSerifLibre-Regular";
}

nav li {
    height: 64px;
}

.btn-toggle-scheme {
    width: 100%;
    height: 56px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-toggle-scheme .icon {
    display: block;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.btn-toggle-scheme:hover {
    background-color: rgba(0,0,0,0.1);
}

/* bio */

.bio-header-mobile {
    height: 450px;
} 

.bio-header-mobile::before {
    content: "";
    position: absolute;
    height: 450px;
    width: 100%;
    z-index: -1;
    left: 0;
}

.bio-header-desktop {
    display: none;
    height: 600px;
}

.bio-header-desktop::before {
    content: "";
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -1;
    left: 0;
}

.bio-details-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.bio-text-backdrop {
    width: 500px;
}

.bio-name {
    font-family: "AveriaSerifLibre-Bold";
    font-size: 3rem;
    margin: 0;
    padding: 10px;
}

.bio-title {
    font-family: "AveriaSerifLibre-Bold";
    font-size: 1.6rem;
    margin: 20px 0;
    padding: 10px;
}

.bio-location {
    font-family: "AveriaSerifLibre-Bold";
    font-size: 1.2rem;
    margin: 20px 0;
    padding: 10px;
}

.bio-header-desktop .bio-profile-image {
    height: 115px;
    margin-bottom: 30px;
}

.bio-header-mobile .bio-profile-image {
    height: 100px;
    width: 100px;
    margin: 15px 0;
}

/* socials */

.bio-social {
    padding: 50px 0;
}

.bio-social-header {
    margin-bottom: 10px;
}

.bio-social-icon-container {
    display: flex;
    justify-content: center;
}

.bio-social-icon {
    width: 150px;
    height: 150px;
}

.bio-social-icon a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}

.bio-social-icon a:hover, .bio-social-icon a:focus {
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
}

.bio-social-icon .icon.github {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.bio-social-icon .icon.unsplash {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bio-social-name {
    font-family: "Roboto-Regular";
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    display: block;
}

/* now listening widget */

.currently-playing {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.currently-playing h2 {
    margin-bottom: 20px;
    text-align: center;
}

.now-playing {
    display: flex;
    justify-content: center;
}

.now-playing .icon.spotify {
    height: 30px;
    width: 30px;
    background-size: 100%;
    margin-left: auto;
    margin-top: auto;
    margin-right: 10px;
}

.now-playing .now-playing-gif {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.now-playing-header {
    margin-bottom: 10px;
}

.now-playing-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.song-artwork {
    width: 50px;
}

.song-details {
    height: 90xp;
    overflow: hidden;
    margin-left: 12px;
    margin-right: 10px;
}

.song-title {
    font-weight: bold;
}

.song-link {
    display: block;
    width: 100%;
    height: 100%;
}

.recently-played {
    padding: 50px 0;
}

.recently-played-songs {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.recently-played-songs.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.recently-played h2 {
    margin-bottom: 20px;
    text-align: center;
}

.recently-played .song {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 15px;
}

/* footer */

footer {
    font-family: "AveriaSerifLibre-Regular";
    font-size: 1rem;
    padding: 20px;
    display: block;
}

.footer-copyright {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-copyright div {
    margin-bottom: 5px;
}

.footer-socials {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-socials a {
    flex-basis: 25%;
    max-width: 75px;
    text-align: center;
}

footer .icon {
    display: inline-flex;
    height: 40px;
    width: 40px;
  
    border: 2px solid transparent;
    box-sizing: content-box;
}

footer .icon.github {
    background-position-y: 1px;
    background-size: 90%;
    background-position-x: 2px;
}
footer .icon.unsplash {
    background-position-y: 4px;
    background-size: 70%;
    background-position-x: 6px;
}
footer .icon.email {
    background-position-y: 6px;
    background-size: 70%;
    background-position-x: 6px;
}
footer .icon.linkedin {
    background-position-y: 7px;
    background-size: 65%;
    background-position-x: 7px;
}
footer .icon.x {
    background-position-y: 7px;
    background-size: 70%;
    background-position-x: 7px;
}
footer .icon.instagram {
    background-position-y: 6px;
    background-size: 65%;
    background-position-x: 7px;
}
footer .icon.twitch {
    background-position-y: 6px;
    background-size: 65%;
    background-position-x: 7px;
}

/* desktop only media query */

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    p, ul {
        font-size: 1.4rem;
    }

    .section {
        margin: 25px auto 25px auto;
    }

    .bio-header-desktop {
        display: block;
    }

    .bio-header-mobile {
        display: none;
    }

    .bio-details-container {
        padding-top: 75px;
    }

    .bio-title {
        font-size: 2rem;
    }

    .bio-location {
        font-size: 1.5rem;
    }

    .btn-toggle-scheme {
        width: 100%;
        height: 64px;
    }

    .now-playing {
        margin-left: 0;
        margin-right: 0;
    }

    .now-playing .now-playing-gif {
        width: 40px;
        margin-right: 15px;
    }

    .now-playing .icon.spotify {
        margin-left: 25px;
    }

    .song-details {
        margin-left: 20px;
        margin-right: 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-socials {
       flex-wrap: nowrap;
       margin-top: 20px;
       margin-bottom: 20px;
    }

    .footer-socials a {
        margin-right: 15px;
    }

    .footer-copyright {
        margin: 0;
        display: block;
        text-align: left;
        padding-right: 100px;
    }
}
