/* light */

body.theme-light {
    color: #363d36;
    background-color: #ebebed;
}

.theme-light nav {
    background-color: #fff;
    color: #000;
    box-shadow: none;
}

.theme-light nav ul li.active {
    background-color: #ddd;
}

.theme-light a {
    color: #363d36;
    text-decoration: underline;
}

.theme-light nav a {
    color: #363d36;
    text-decoration: none;
}

.theme-light .material-icons {
    color: #000;
}

.theme-light .moon {
    background-image: url("../images/icons/icon-moon-dark.svg");
    background-repeat: no-repeat;
}
.theme-light .github {
    background-image: url("../images/icons/icon-github-dark.svg");
    background-repeat: no-repeat;
}
.theme-light .unsplash {
    background-image: url("../images/icons/icon-unplash-dark.svg");
    background-repeat: no-repeat;
}
.theme-light .twitter {
    background-image: url("../images/icons/icon-twitter-dark.svg");
    background-repeat: no-repeat;
}
.theme-light .instagram {
    background-image: url("../images/icons/icon-instagram-dark.svg");
    background-repeat: no-repeat;
}
.theme-light .linkedin {
    background-image: url("../images/icons/icon-linkedin-dark.svg");
    background-repeat: no-repeat;
}
.theme-light .email {
    background-image: url("../images/icons/icon-email-dark.svg");
    background-repeat: no-repeat;
}
.theme-light .twitch {
    background-image: url("../images/icons/icon-twitch-dark.svg");
    background-repeat: no-repeat;
}

.theme-light .bio-details-container {
    color: #fff;
}

.theme-light .bio-text-backdrop h1, .theme-light .bio-text-backdrop div  {
    background: #363d36;
}

.theme-light .bio-social-icon a {
    color: #363d36;
}

.theme-light .bio-header-desktop::before {
    background-image: url('../images/backdrop-light.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.theme-light .bio-header-mobile::before {
    background-image: url('../images/backdrop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.theme-light .now-playing {
    color: #363d36;
}

.theme-light .now-playing-gif {
    background-image: url(../images/now-playing-dark.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.theme-light footer .icon:hover, footer .icon:focus {
    border: 2px #363d36 solid;
}

/* dark */

body.theme-dark {
    color: #fff;
    background-color: #333333;
}

.theme-dark a {
    color: #fff;
    text-decoration: underline;
}

.theme-dark nav {
    background-color: #2d2d2d;
}

.theme-dark nav ul li.active {
    background-color: #232323;
}

.theme-dark nav a {
    color: #fff;
    text-decoration: none;
}

.theme-dark #mobile-nav {
    background-color: #2d2d2d;
}

.theme-dark #mobile-nav li a {
    color: #fff;
    text-decoration: none;
}

.theme-dark .banner-solid-colour {
    background-color: #2d2d2d;
}

.theme-dark .bio-text-backdrop h1, .theme-dark .bio-text-backdrop div  {
    background: #2d2d2d;
}

.theme-dark .bio-header-desktop::before {
    background-image: url('../images/backdrop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.theme-dark .bio-header-mobile::before {
    background-image: url('../images/backdrop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.theme-dark .now-playing {
    color: #fff;
}

.theme-dark .now-playing-gif {
    background-image: url(../images/now-playing.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.theme-dark footer {
    background-color: #333333;
}

.theme-dark footer .icon:hover, footer .icon:focus {
    border: 2px #fff solid;
}

.theme-dark img {
    filter: brightness(.8) contrast(1.2);
}
