/* light */

body.theme-light {
    color: #FFF;
}

.theme-light nav {
    background-color: #fff;
    color: black;
    box-shadow: none;
}

.theme-light .banner-solid-colour {
    background-color: #263cc2;
}

.theme-light .bio-header-desktop::before {
    content: "";
    position: absolute;
    height: 800px;
    width: 100%;
    z-index: -1;
    left: 0;
    background-image: url('../images/backdrop-light.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.theme-light footer {
    background-color: #263cc2;
}

.theme-light p a {
    color: #263cc2;
}

/* dark */

body.theme-dark {
    color: #fff;
    background-color: #2d3848;
}

.theme-dark nav {
    background-color: #000000;
}

.theme-dark #mobile-nav {
    background-color: #3a4556;
}

.theme-dark #mobile-nav li a {
    color: #fff;
}

.theme-dark .banner-solid-colour {
    background-color: #3a4556;
}

.theme-dark .bio-header-desktop::before {
    content: "";
    position: absolute;
    height: 800px;
    width: 100%;
    z-index: -1;
    left: 0;
    background-image: url('../images/backdrop-dark.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.theme-dark footer {
    background-color: #3a4556;
}

.theme-dark p a {
    color: #81e5d9;
}

.theme-dark img {
    filter: brightness(.8) contrast(1.2);
}
